.property-card {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .property-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card-img-top {
    height: 200px;
    width: 500px;

    object-fit: cover;
    border-bottom: 2px solid #f0f0f0;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
  }
  
  .card-text {
    font-size: 0.9rem;
    color: #666;
  }
  